.notification {
    font-size: 1.5em;
    border: solid 5px;
    border-radius: 5px;
    background: lightgrey;
    padding: 10px;
    margin-bottom: 10px;
}

.alert {
    color: green;
}

.error {
    color: red;
}

.blog-item {
    padding-top: 10px;
    padding-left: 2px;
    border: solid;
    border-width: 1px;
    margin-bottom: 5px;
}

.delete-btn {
    background: #0078D4;
    border-radius: 5px;
    padding:.25em .5em;
    text-align: center;
}
